:root {
    --cinza-escuro: #4C545C;
    --cinza-claro: #9EABB2;
    --verde-claro: #26BBA4;
    --azul: #6174FF;
    --branco: #FFFFFF;
}

body {
    background-image: url("../img/Bitmap\ 2.png");
    background-repeat: no-repeat;
}

.container__caixa {
    text-align: center;
    margin-top: 100px;
}

.container__titulo {
    font-weight: 700;
    font-size: 46px;
    color: var(--cinza-escuro);
}

.container__subtitulo {
    font-weight: 200;
    font-size: 20px;
    
    color: var(--cinza-claro);
    
}

.formatacao {
    margin: 0px 0 50px;
}

.container__botao1 {
    background-color: var(--verde-claro);
    margin-bottom: 1em;
    border-radius: 30px;
    text-decoration: none;
    border: 2px solid var(--verde-claro);
    color: var(--branco);
    padding: 15px 25px;
    
}

.container__botao2 {
    background-color: var(--azul);
    margin-bottom: 1em;
    border-radius: 30px;
    text-decoration: none;
    border: 2px solid var(--azul);
    color: var(--branco);
    padding: 15px 25px;
}

